.intro-section {
  display: none !important;
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: transform 0.5s ease;
  .game-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    .flag-icon {
      height: 60px;
      margin-right: 30px;
    }
    .main-header {
      font-size: 3.2rem;
      font-weight: bold;
    }
  }
  .intro-image {
    height: 250px;
  }
  .game-description {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: normal;
    text-align: center;
    width: 50%;
    margin: 2.5rem;
  }
  .lets-play-button {
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: white;
    background-color: #2d81bd;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    .button-icon {
      height: 50px;
      margin-right: 20px;
    }
    .button-text {
      font-size: 2rem;
      font-weight: normal;
    }
    &:hover {
      background-color: #1c6599;
      transform: scale(1.1);
      color: #e2e2e2;
    }
  }
}

.intro-section.hidden {
  transform: translateY(-100%);
}
